<form method="POST" action="/categoria/editar/<%= categoria.id %>">
    <input type="text" placeholder="Insira o nome da categoria" name="categoria" value="<%= categoria.categoria%>" />
    <button>Salvar</button>
</form>