<%- include('../header')%>
<form method="POST" action="/categoria/nova">
    <div class="form-group" method="POST" action="/categoria/nova">
      <input type="text" class="form-control" id="categoria" name="categoria" placeholder="Informe um nome para a categoria">      
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>
<%- include('../footer')%>